$title-1: 48px;
$title-2: 40px;
$title-3: 32px;
$title-4: 24px;
$title-5: 20px;
$title-6: 16px;

$subtitle-1: 48px;
$subtitle-2: 40px;
$subtitle-3: 32px;
$subtitle-4: 24px;
$subtitle-5: 20px;
$subtitle-6: 16px;

$content-smaller: 7px;
$content-small: 12px;
$content-normal: 16px;
$content-medium: 20px;
$content-large: 24px;