.socios-fundadores {
  padding: 5rem 0;
  transform: skew(0deg, -10deg);

  .socios-fundadores__inner {
    transform: skew(0deg, 10deg);
    
    .socios-fundadores__title {
      text-align: center;
      margin-bottom: 2rem;
      
      h2 {
        font-family: $font-primary;
        text-transform: uppercase;
        color: $primary-dark;
        margin-bottom: 1rem;
        font-size: $title-2;
        font-weight: bold;
      }
      
      p {
        color: $grey-dark;
        font-family: $font-secondary;
        padding-bottom: 1rem;
        max-width: 600px;
        margin: 0 auto;
      }
    }
    
    .socios-fundadores__list {
      position: relative;

      .socios-slide__arrows {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: space-between;
        width: 70px;
        font-size: 30px;
        z-index: 1;
        cursor: pointer;

        .socios-slide__arrow {
          font-weight: bold;
          font-family: $font-primary;
          color: $primary-dark;  
        }
      }
      
      .socios-fundadores__item {
        display: flex;
        align-items: center;
        height: 400px;

        .socios-fundadores__photo {
          
        }
        
        .socios-fundadores__box:before {
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          z-index: -4;
          top: 0;
          left: 0;
          box-shadow: 0px 0px 80px 3px #ccc;
        }
        
        .socios-fundadores__box:after {
          content: '';
          width: 120px;
          height: 120px;
          top: -60px;
          margin: 0 auto;
          background-image: url(../img/aspas.png);
          display: block;
          left: 0;
          position: absolute;
          right: 0;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .socios-fundadores__box {
          text-align: center;
          position: relative;
          padding: 3rem 2rem 1rem 2rem;
          width: 350px;
          margin-left: -50px;
          background: #fff;
          font-family: $font-secondary;
          color: $primary;

          .socios-fundadores__box-text {
            margin-bottom: 1rem;
          }
          .socios-fundadores__box-bottom {
            .socios-fundadores__founder-name {
              font-weight: bold;
              color: $primary-dark;              
            }
            .socios-fundadores__founder-title {
              color: $grey;
              font-size: $content-small;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media only screen and(min-width: $mobile-up) {
  .socios-fundadores {
    padding: 8rem 0;
  }
}