@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
@font-face {
  font-family: "Gotham";
  src: url(../fonts/GothamRounded-Bold.otf);
  src: url(../fonts/GothamRounded-Medium.otf); }

/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit; }

img,
video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

body {
  overflow-x: hidden; }

.bg-primary {
  background-color: #699352; }

.bg-primary-light {
  background-color: #b2ca7f; }

.bg-primary-lighter {
  background-color: ""; }

.bg-primary-dark {
  background-color: #4a734c; }

.bg-primary-darker {
  background-color: ""; }

.bg-secondary {
  background-color: ""; }

.bg-secondary-light {
  background-color: ""; }

.bg-secondary-lighter {
  background-color: ""; }

.bg-secondary-dark {
  background-color: ""; }

.bg-secondary-darker {
  background-color: ""; }

.bg-dark {
  background-color: ""; }

.bg-light {
  background-color: ""; }

.bg-black {
  background-color: #000; }

.bg-white {
  background-color: #fff; }

.bg-grey {
  background-color: #9b9b9b; }

.bg-grey-light {
  background-color: #b0b1b0; }

.bg-grey-lighter {
  background-color: #fafbfb; }

.bg-grey-dark {
  background-color: ""; }

.bg-grey-darker {
  background-color: #4b4a46; }

.color-primary {
  color: #699352; }

.color-primary-light {
  color: #b2ca7f; }

.color-primary-lighter {
  color: ""; }

.color-primary-dark {
  color: #4a734c; }

.color-primary-darker {
  color: ""; }

.color-secondary {
  color: ""; }

.color-secondary-light {
  color: ""; }

.color-secondary-lighter {
  color: ""; }

.color-secondary-dark {
  color: ""; }

.color-secondary-darker {
  color: ""; }

.color-dark {
  color: ""; }

.color-light {
  color: ""; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.color-grey {
  color: #9b9b9b; }

.color-grey-light {
  color: #b0b1b0; }

.color-grey-lighter {
  color: #fafbfb; }

.color-grey-dark {
  color: ""; }

.color-grey-darker {
  color: #4b4a46; }

.text-bolder {
  font-weight: bolder; }

.text-normal {
  font-weight: 400; }

.text-bold {
  font-weight: 700; }

.text-light {
  font-weight: 300; }

.text-uppercase {
  text-transform: uppercase; }

.text-centered {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.container {
  padding: 0 1rem; }

@media only screen and (min-width: 768px) {
  .container {
    width: 760px;
    margin: 0 auto; } }

@media only screen and (min-width: 1200px) {
  .container {
    width: 1100px; } }

@media only screen and (min-width: 1300px) {
  .container {
    width: 1200px; } }

.nav {
  background-image: url(../img/nav-background.png);
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  height: 60px;
  position: relative; }
  .nav .nav__container {
    height: inherit; }
  .nav .nav__inner {
    padding: 0 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: inherit;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .nav .nav__inner .nav__logo {
      max-width: 200px; }
    .nav .nav__inner .nav__menu {
      height: inherit;
      cursor: pointer; }
      .nav .nav__inner .nav__menu .hamburguer {
        height: inherit;
        width: 30px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .nav .nav__inner .nav__menu .hamburguer .hamburguer__line {
          width: 80%;
          height: 2px;
          margin: 3px 0;
          background: #ffffff; }
  .nav .menu.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 1500px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .nav .menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background: #fff;
    width: 100%;
    text-align: right;
    padding-top: 1rem;
    max-height: 0;
    height: 0; }
    .nav .menu .menu__item {
      padding: 1rem 2rem; }
      .nav .menu .menu__item a {
        text-decoration: none;
        color: #4b4a46;
        font-family: Helvetica, Gotham, "Open Sans", sans-serif; }

@media only screen and (min-width: 768px) {
  .nav {
    height: 100px; }
    .nav .nav__container {
      height: inherit;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      max-width: 1150px;
      margin: 0 auto; }
    .nav .nav__inner {
      width: 40%;
      padding: 0 0 0 1rem; }
      .nav .nav__inner .nav__logo img {
        width: 250px;
        max-width: 250px; }
      .nav .nav__inner .nav__menu {
        display: none; }
    .nav .menu.active {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; }
    .nav .menu {
      max-width: 60%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      position: relative;
      background: transparent;
      text-align: center;
      max-height: inherit;
      height: inherit;
      padding: 0;
      -webkit-box-pack: stretch;
      -webkit-justify-content: stretch;
         -moz-box-pack: stretch;
          -ms-flex-pack: stretch;
              justify-content: stretch; }
      .nav .menu .menu__item {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
           -moz-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        height: inherit;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative; }
        .nav .menu .menu__item a {
          text-decoration: none;
          color: #fff;
          font-family: "Open Sans", Helvetica, Gotham, sans-serif;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          height: inherit;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
             -moz-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          position: relative; }
      .nav .menu .menu__item:hover a,
      .nav .menu .menu__item.active a {
        color: #ece411; }
      .nav .menu .menu__item:hover a:after,
      .nav .menu .menu__item.active a:after {
        content: '';
        background: #ece411;
        display: block;
        position: absolute;
        bottom: -2px;
        width: 100%;
        height: 2px; }
      .nav .menu .menu__item:hover:after a,
      .nav .menu .menu__item.active:after a {
        color: #ece411; } }

.site-header {
  background-image: url(../img/header-background.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 2rem 0 7rem 0;
  background-color: #fafbfb; }
  .site-header .site-header__main {
    color: #fff; }
    .site-header .site-header__main .site-header__title h1 {
      font-family: Gotham, Helvetica, "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 32px;
      margin-bottom: 15px; }
    .site-header .site-header__main .site-header__subtitle p {
      font-family: Helvetica, Gotham, "Open Sans", sans-serif; }

@media only screen and (min-width: 500px) {
  .site-header {
    padding-top: 3rem;
    -webkit-background-size: contain;
            background-size: contain;
    padding-bottom: 19rem; }
    .site-header .site-header__main {
      max-width: 80%;
      margin: 0 auto; } }

@media only screen and (min-width: 768px) {
  .site-header:before {
    background-image: url(../img/header-background.png);
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100vh;
    content: '';
    z-index: -1;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-color: #fafbfb; }
  .site-header {
    position: relative;
    background-image: none;
    padding-top: 10%;
    background-color: transparent; }
    .site-header .site-header__main {
      margin-left: 0;
      max-width: 600px; } }

@media only screen and (min-width: 1100px) {
  .site-header:before {
    content: '';
    background-image: url(../img/header-background.png);
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    background-position-y: -200px; }
  .site-header {
    position: relative;
    background-image: none;
    padding-top: 10%;
    background-color: transparent; }
    .site-header .site-header__main {
      margin-left: 0;
      max-width: 600px; } }

@media only screen and (min-width: 1330px) {
  .site-header:before {
    background-image: url(../img/header-background.png);
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    background-position-y: bottom;
    background-repeat: no-repeat; }
  .site-header {
    position: relative;
    background-image: none;
    padding-top: 13%;
    padding-bottom: 27rem;
    -webkit-background-size: 100% 100%;
            background-size: 100%; }
    .site-header .site-header__main {
      margin-left: 0;
      max-width: 600px; }
      .site-header .site-header__main .site-header__title h1 {
        font-size: 40px; }
      .site-header .site-header__main .site-header__subtitle {
        max-width: 450px; } }

.footer {
  background-image: url(../img/footer-background.png);
  padding: 14rem 0 0 0;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  margin-top: -20%;
  position: relative;
  background-position: top center;
  color: #fff;
  font-family: Helvetica, Gotham, "Open Sans", sans-serif;
  font-size: 13px; }
  .footer .footer__main {
    padding: 10rem 0 0 0;
    border-bottom: 1px solid #fafbfb;
    max-width: 1000px;
    margin: 0 auto; }
    .footer .footer__main .footer__columns {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      border-bottom: 1px solid #fafbfb;
      padding-bottom: 3rem; }
      .footer .footer__main .footer__columns .footer__column:nth-child(1) {
        max-width: 300px; }
      .footer .footer__main .footer__columns .footer__column:nth-child(2) {
        width: 200px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .footer .footer__main .footer__columns .footer__column:nth-child(3) {
        padding-right: 20px; }
      .footer .footer__main .footer__columns .footer__column {
        padding-top: 2rem; }
        .footer .footer__main .footer__columns .footer__column img {
          margin-bottom: 1rem; }
        .footer .footer__main .footer__columns .footer__column p {
          line-height: 20px; }
        .footer .footer__main .footer__columns .footer__column p:not(:last-child) {
          margin-bottom: 1rem; }
        .footer .footer__main .footer__columns .footer__column h4 {
          margin-bottom: 1.5rem;
          font-family: Gotham, Helvetica, "Open Sans", sans-serif;
          font-size: 24px; }
        .footer .footer__main .footer__columns .footer__column ul li:before {
          position: absolute;
          content: '';
          width: 13px;
          height: 10px;
          left: 0;
          background-image: url(../img/icon-double-arrow.png);
          background-repeat: no-repeat;
          top: 0;
          bottom: 0;
          margin: auto; }
        .footer .footer__main .footer__columns .footer__column ul li {
          padding: .3rem 1.5rem;
          position: relative; }
    .footer .footer__main .footer__bottom {
      text-align: center;
      padding: 2rem 0; }

@media only screen and (min-width: 768px) {
  .footer {
    margin-top: -300px; }
    .footer .footer__main .footer__columns {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer .footer__main .footer__columns .footer__column:nth-child(1) {
        max-width: 300px; }
      .footer .footer__main .footer__columns .footer__column:nth-child(2) {
        width: 200px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .footer .footer__main .footer__columns .footer__column:nth-child(2) h4 {
          margin-top: -35px; }
      .footer .footer__main .footer__columns .footer__column {
        padding-top: 0; }
        .footer .footer__main .footer__columns .footer__column img {
          margin-bottom: 1rem; }
        .footer .footer__main .footer__columns .footer__column p {
          line-height: 20px; }
        .footer .footer__main .footer__columns .footer__column p:not(:last-child) {
          margin-bottom: 1rem; }
        .footer .footer__main .footer__columns .footer__column .icons a {
          text-align: left;
          width: 30px;
          display: inline-block; }
        .footer .footer__main .footer__columns .footer__column h4 {
          margin-bottom: 1.5rem;
          font-family: Gotham, Helvetica, "Open Sans", sans-serif;
          font-size: 24px; }
        .footer .footer__main .footer__columns .footer__column ul li:before {
          position: absolute;
          content: '';
          width: 13px;
          height: 10px;
          left: 0;
          background-image: url(../img/icon-double-arrow.png);
          background-repeat: no-repeat;
          top: 0;
          bottom: 0;
          margin: auto; }
        .footer .footer__main .footer__columns .footer__column ul li {
          padding: .3rem 1.5rem;
          position: relative; }
    .footer .footer__main .footer__bottom {
      text-align: center;
      padding: 2rem 0; } }

.essencia {
  background-image: url(../img/essencia-minutrade-background.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 5rem 0; }
  .essencia .essencia__title {
    text-align: center;
    margin-bottom: 2rem; }
    .essencia .essencia__title h2 {
      font-size: 24px;
      font-family: Gotham, Helvetica, "Open Sans", sans-serif;
      text-transform: uppercase;
      color: #699352;
      margin-bottom: .5rem;
      font-weight: bold; }
    .essencia .essencia__title p {
      font-family: "Open Sans", Helvetica, Gotham, sans-serif;
      color: #9b9b9b; }
  .essencia .essencia__columns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .essencia .essencia__columns .essencia__column:not(:last-child) {
      margin-bottom: 2.5rem; }
    .essencia .essencia__columns .essencia__column {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      max-width: 300px;
      margin: 1rem; }
      .essencia .essencia__columns .essencia__column .essencia__column-icon {
        margin-bottom: 1rem; }
      .essencia .essencia__columns .essencia__column .essencia__content h3 {
        font-size: 20px;
        font-family: Gotham, Helvetica, "Open Sans", sans-serif;
        color: #9b9b9b;
        font-weight: bold;
        margin-bottom: 1rem; }
      .essencia .essencia__columns .essencia__column .essencia__content p {
        font-family: Gotham, Helvetica, "Open Sans", sans-serif;
        color: #9b9b9b;
        font-size: 20px; }

@media only screen and (min-width: 768px) {
  .essencia {
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    padding: 5rem 0;
    padding-bottom: 15rem; }
    .essencia .essencia__title h2 {
      font-size: 40px; }
    .essencia .essencia__title p {
      font-size: 24px; }
    .essencia .essencia__columns {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
         -moz-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .essencia .essencia__columns .essencia__column.conexao {
        max-width: 250px; }
      .essencia .essencia__columns .essencia__column .essencia__column-icon {
        height: 100px;
        margin-bottom: 3rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
           -moz-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; }
      .essencia .essencia__columns .essencia__column .essencia__content h3 {
        font-size: 32px;
        font-weight: bold; }
      .essencia .essencia__columns .essencia__column .essencia__content p {
        font-size: 20px; } }

.recompensados {
  padding: 2rem 0;
  text-align: center; }
  .recompensados .recompensados__inner .recompensas__title {
    margin-bottom: 1rem; }
    .recompensados .recompensados__inner .recompensas__title h2 {
      color: #699352;
      font-size: 24px;
      text-transform: uppercase; }
      .recompensados .recompensados__inner .recompensas__title h2 .title-1 {
        font-family: Gotham, Helvetica, "Open Sans", sans-serif;
        font-weight: bold;
        display: block;
        background: -webkit-linear-gradient(#699352, #4a734c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .recompensados .recompensados__inner .recompensas__title h2 .title-2 {
        font-family: Helvetica, Gotham, "Open Sans", sans-serif;
        display: block; }
  .recompensados .recompensados__inner .recompensas__title-text {
    font-family: "Open Sans", Helvetica, Gotham, sans-serif;
    color: #9b9b9b; }
  .recompensados .recompensados__inner .recompensa__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem 0; }
    .recompensados .recompensados__inner .recompensa__items .recompensas__item {
      margin: 1rem; }
      .recompensados .recompensados__inner .recompensa__items .recompensas__item .recompensas__item-icon {
        margin-bottom: 1rem; }
      .recompensados .recompensados__inner .recompensa__items .recompensas__item .recompensas__item-title .number {
        display: block;
        color: #699352;
        font-size: 48px;
        font-family: Gotham, Helvetica, "Open Sans", sans-serif;
        font-weight: bold;
        line-height: 40px; }
      .recompensados .recompensados__inner .recompensa__items .recompensas__item .recompensas__item-title .text {
        font-size: 20px;
        font-family: Gotham, Helvetica, "Open Sans", sans-serif;
        font-weight: bold;
        color: #9b9b9b; }
      .recompensados .recompensados__inner .recompensa__items .recompensas__item .recompensas__item-text {
        font-size: 20px;
        font-family: "Open Sans", Helvetica, Gotham, sans-serif;
        color: #9b9b9b; }

@media only screen and (min-width: 768px) {
  .recompensados:before {
    content: '';
    width: 21%;
    height: 500px;
    position: absolute;
    top: -90px;
    left: -50px;
    background-image: url(../img/forma-1.png);
    -webkit-background-size: 100% 100%;
            background-size: 100%;
    background-repeat: no-repeat; }
  .recompensados {
    position: relative; }
    .recompensados .recompensados__inner .recompensas__title h2 {
      font-size: 40px; }
    .recompensados .recompensados__inner .recompensas__title-text {
      max-width: 600px;
      margin: 0 auto; }
    .recompensados .recompensados__inner .recompensa__items:before {
      position: absolute;
      content: '';
      width: 50%;
      height: 100%;
      right: 100%;
      background-image: url(../img/homem-com-celular-minutrade.png);
      -webkit-background-size: 100% 100%;
              background-size: 100%;
      background-repeat: no-repeat;
      background-position: bottom; }
    .recompensados .recompensados__inner .recompensa__items:after {
      position: absolute;
      content: '';
      width: 520px;
      height: 470px;
      background-image: url(../img/forma-1-maior.png);
      -webkit-background-size: contain;
              background-size: contain;
      background-repeat: no-repeat;
      left: 84%;
      top: -160px; }
    .recompensados .recompensados__inner .recompensa__items {
      position: relative;
      width: 60%;
      margin-left: auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 2rem 0; } }

@media only screen and (min-width: 1200px) {
  .recompensados::before {
    content: ''; }
  .recompensados {
    position: relative; }
    .recompensados .recompensados__inner .recompensa__items:before {
      position: absolute;
      content: '';
      width: 380px;
      height: 460px;
      right: 77%;
      background-image: url(../img/homem-com-celular-minutrade.png);
      -webkit-background-size: 100% 100%;
              background-size: 100%;
      background-repeat: no-repeat;
      background-position: bottom; }
    .recompensados .recompensados__inner .recompensa__items {
      position: relative;
      width: 60%;
      margin-left: auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 2rem 0; } }

.nuvem-recompensas {
  margin-top: 0;
  z-index: 0;
  position: relative;
  -webkit-transform: skew(0deg, -6deg);
      -ms-transform: skew(0deg, -6deg);
       -o-transform: skew(0deg, -6deg);
          transform: skew(0deg, -6deg);
  background-image: url(../img/nuvem-de-recompensas-background.png);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 200%;
          background-size: 100% 200%; }
  .nuvem-recompensas .nuvem-recompensas__inner {
    -webkit-transform: skew(0deg, 6deg);
        -ms-transform: skew(0deg, 6deg);
         -o-transform: skew(0deg, 6deg);
            transform: skew(0deg, 6deg);
    position: relative;
    height: 100%;
    width: 100%;
    padding: 4rem 0; }
    .nuvem-recompensas .nuvem-recompensas__inner .nuvem-recompensas__title {
      text-align: center; }
      .nuvem-recompensas .nuvem-recompensas__inner .nuvem-recompensas__title h2 {
        font-size: 40px;
        font-family: Gotham, Helvetica, "Open Sans", sans-serif;
        color: #fff;
        font-weight: bold;
        margin-bottom: 1rem;
        text-transform: uppercase; }
      .nuvem-recompensas .nuvem-recompensas__inner .nuvem-recompensas__title p {
        font-family: Helvetica, Gotham, "Open Sans", sans-serif;
        color: #fff;
        max-width: 600px;
        margin: 0 auto; }
    .nuvem-recompensas .nuvem-recompensas__inner .nuvem-recompensas__main {
      padding: 2rem 0;
      text-align: center; }
      .nuvem-recompensas .nuvem-recompensas__inner .nuvem-recompensas__main img {
        width: 100%;
        max-width: 700px;
        margin: 0 auto; }
    .nuvem-recompensas .nuvem-recompensas__inner .nuvem-recompensas__bottom:hover .nuvem-recompensas__bottom-icon {
      -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
           -o-transform: translateY(-10px);
              transform: translateY(-10px);
      -webkit-transition: -webkit-transform .5s;
      transition: -webkit-transform .5s;
      -o-transition: -o-transform .5s;
      transition: transform .5s;
      transition: transform .5s, -webkit-transform .5s, -o-transform .5s; }
    .nuvem-recompensas .nuvem-recompensas__inner .nuvem-recompensas__bottom {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      max-width: 400px;
      margin: 0 auto; }
      .nuvem-recompensas .nuvem-recompensas__inner .nuvem-recompensas__bottom .nuvem-recompensas__bottom-icon {
        -webkit-transform: translateY(0px);
            -ms-transform: translateY(0px);
             -o-transform: translateY(0px);
                transform: translateY(0px);
        -webkit-transition: -webkit-transform .5s;
        transition: -webkit-transform .5s;
        -o-transition: -o-transform .5s;
        transition: transform .5s;
        transition: transform .5s, -webkit-transform .5s, -o-transform .5s;
        margin-right: 1rem; }
      .nuvem-recompensas .nuvem-recompensas__inner .nuvem-recompensas__bottom .nuvem-recompensas__bottom-text {
        font-family: Helvetica, Gotham, "Open Sans", sans-serif;
        color: #fff;
        line-height: 30px;
        font-size: 16px; }

@media only screen and (min-width: 768px) {
  .nuvem-recompensas {
    padding: 2rem 0;
    margin-top: -2rem; } }

@media only screen and (min-width: 1200px) {
  .nuvem-recompensas {
    padding: 2rem 0;
    margin-top: 7rem; } }

.nossos-clientes {
  -webkit-transform: skew(0deg, -6deg);
      -ms-transform: skew(0deg, -6deg);
       -o-transform: skew(0deg, -6deg);
          transform: skew(0deg, -6deg);
  padding: 6rem 0;
  background: #f2f1f3; }
  .nossos-clientes .nossos-clientes__inner {
    -webkit-transform: skew(0deg, 6deg);
        -ms-transform: skew(0deg, 6deg);
         -o-transform: skew(0deg, 6deg);
            transform: skew(0deg, 6deg); }
    .nossos-clientes .nossos-clientes__inner .nossos-clientes__title {
      text-align: center;
      margin-bottom: 3rem; }
      .nossos-clientes .nossos-clientes__inner .nossos-clientes__title h2 {
        font-weight: bold;
        font-size: 40px;
        font-family: Gotham, Helvetica, "Open Sans", sans-serif;
        color: #4a734c;
        text-transform: uppercase; }
    .nossos-clientes .nossos-clientes__inner .nossos-clientes__slide {
      max-width: 100%;
      margin: 0 auto; }

.slide {
  position: relative; }
  .slide .slide__arrows {
    position: absolute;
    background: transparent;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .slide .slide__arrows .slide__arrow {
      background-repeat: no-repeat;
      height: 30px;
      width: 30px;
      -webkit-background-size: contain;
              background-size: contain;
      cursor: pointer; }
    .slide .slide__arrows .arrow-left {
      background-image: url(../img/arrow-back.png); }
    .slide .slide__arrows .arrow-right {
      background-image: url(../img/arrow-next.png); }
  .slide .slide__items {
    width: 90%;
    margin: 0 auto; }
    .slide .slide__items .slide__item {
      padding: .5rem;
      height: 120px;
      width: 100px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }

@media only screen and (min-width: 768px) {
  .nossos-clientes {
    padding: 8rem 0; } }

.socios-fundadores {
  padding: 5rem 0;
  -webkit-transform: skew(0deg, -10deg);
      -ms-transform: skew(0deg, -10deg);
       -o-transform: skew(0deg, -10deg);
          transform: skew(0deg, -10deg); }
  .socios-fundadores .socios-fundadores__inner {
    -webkit-transform: skew(0deg, 10deg);
        -ms-transform: skew(0deg, 10deg);
         -o-transform: skew(0deg, 10deg);
            transform: skew(0deg, 10deg); }
    .socios-fundadores .socios-fundadores__inner .socios-fundadores__title {
      text-align: center;
      margin-bottom: 2rem; }
      .socios-fundadores .socios-fundadores__inner .socios-fundadores__title h2 {
        font-family: Gotham, Helvetica, "Open Sans", sans-serif;
        text-transform: uppercase;
        color: #4a734c;
        margin-bottom: 1rem;
        font-size: 40px;
        font-weight: bold; }
      .socios-fundadores .socios-fundadores__inner .socios-fundadores__title p {
        color: "";
        font-family: Helvetica, Gotham, "Open Sans", sans-serif;
        padding-bottom: 1rem;
        max-width: 600px;
        margin: 0 auto; }
    .socios-fundadores .socios-fundadores__inner .socios-fundadores__list {
      position: relative; }
      .socios-fundadores .socios-fundadores__inner .socios-fundadores__list .socios-slide__arrows {
        position: absolute;
        bottom: 0;
        right: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 70px;
        font-size: 30px;
        z-index: 1;
        cursor: pointer; }
        .socios-fundadores .socios-fundadores__inner .socios-fundadores__list .socios-slide__arrows .socios-slide__arrow {
          font-weight: bold;
          font-family: Gotham, Helvetica, "Open Sans", sans-serif;
          color: #4a734c; }
      .socios-fundadores .socios-fundadores__inner .socios-fundadores__list .socios-fundadores__item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 400px; }
        .socios-fundadores .socios-fundadores__inner .socios-fundadores__list .socios-fundadores__item .socios-fundadores__box:before {
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          position: absolute;
          z-index: -4;
          top: 0;
          left: 0;
          -webkit-box-shadow: 0px 0px 80px 3px #ccc;
                  box-shadow: 0px 0px 80px 3px #ccc; }
        .socios-fundadores .socios-fundadores__inner .socios-fundadores__list .socios-fundadores__item .socios-fundadores__box:after {
          content: '';
          width: 120px;
          height: 120px;
          top: -60px;
          margin: 0 auto;
          background-image: url(../img/aspas.png);
          display: block;
          left: 0;
          position: absolute;
          right: 0;
          -webkit-background-size: contain;
                  background-size: contain;
          background-repeat: no-repeat; }
        .socios-fundadores .socios-fundadores__inner .socios-fundadores__list .socios-fundadores__item .socios-fundadores__box {
          text-align: center;
          position: relative;
          padding: 3rem 2rem 1rem 2rem;
          width: 350px;
          margin-left: -50px;
          background: #fff;
          font-family: Helvetica, Gotham, "Open Sans", sans-serif;
          color: #699352; }
          .socios-fundadores .socios-fundadores__inner .socios-fundadores__list .socios-fundadores__item .socios-fundadores__box .socios-fundadores__box-text {
            margin-bottom: 1rem; }
          .socios-fundadores .socios-fundadores__inner .socios-fundadores__list .socios-fundadores__item .socios-fundadores__box .socios-fundadores__box-bottom .socios-fundadores__founder-name {
            font-weight: bold;
            color: #4a734c; }
          .socios-fundadores .socios-fundadores__inner .socios-fundadores__list .socios-fundadores__item .socios-fundadores__box .socios-fundadores__box-bottom .socios-fundadores__founder-title {
            color: #9b9b9b;
            font-size: 12px;
            font-weight: bold; }

@media only screen and (min-width: 768px) {
  .socios-fundadores {
    padding: 8rem 0; } }

.fale-conosco {
  background-image: url(../img/contato-background.png);
  background-position: top;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 10rem 0;
  background-repeat: no-repeat; }
  .fale-conosco .fale-conosco__inner .fale-conosco__title {
    text-align: center;
    color: #fff;
    margin-bottom: 2rem; }
    .fale-conosco .fale-conosco__inner .fale-conosco__title h2 {
      font-family: Gotham, Helvetica, "Open Sans", sans-serif;
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 1rem; }
    .fale-conosco .fale-conosco__inner .fale-conosco__title p {
      font-family: Helvetica, Gotham, "Open Sans", sans-serif;
      max-width: 600px;
      margin: 0 auto; }
  .fale-conosco .fale-conosco__inner .fale-conosco__form .fale-conosco_form-inputs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    max-width: 800px; }
    .fale-conosco .fale-conosco__inner .fale-conosco__form .fale-conosco_form-inputs .fale-conosco__form-input::-webkit-input-placeholder {
      color: #fff;
      font-weight: bold; }
    .fale-conosco .fale-conosco__inner .fale-conosco__form .fale-conosco_form-inputs .fale-conosco__form-input::-moz-placeholder {
      color: #fff;
      font-weight: bold; }
    .fale-conosco .fale-conosco__inner .fale-conosco__form .fale-conosco_form-inputs .fale-conosco__form-input:-ms-input-placeholder {
      color: #fff;
      font-weight: bold; }
    .fale-conosco .fale-conosco__inner .fale-conosco__form .fale-conosco_form-inputs .fale-conosco__form-input::-ms-input-placeholder {
      color: #fff;
      font-weight: bold; }
    .fale-conosco .fale-conosco__inner .fale-conosco__form .fale-conosco_form-inputs .fale-conosco__form-input::placeholder {
      color: #fff;
      font-weight: bold; }
    .fale-conosco .fale-conosco__inner .fale-conosco__form .fale-conosco_form-inputs .fale-conosco__form-input {
      background: transparent;
      border: none;
      padding: 1rem .2px;
      max-width: 400px;
      margin: 10px;
      width: 100%;
      border-bottom: 2px solid #b2ca7f;
      color: #fff;
      font-weight: bold;
      font-family: Gotham, Helvetica, "Open Sans", sans-serif;
      font-size: 16px; }
  .fale-conosco .fale-conosco__inner .fale-conosco__form .fale-conosco__form-send {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5rem 0  7rem 0; }
    .fale-conosco .fale-conosco__inner .fale-conosco__form .fale-conosco__form-send .button {
      width: 280px;
      height: 53px;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer; }
      .fale-conosco .fale-conosco__inner .fale-conosco__form .fale-conosco__form-send .button img {
        width: 30px; }

.button {
  text-decoration: none;
  padding: 1rem;
  min-width: 280px;
  background: #ccc;
  border: none;
  font-family: "Open Sans", Helvetica, Gotham, sans-serif;
  font-weight: bold;
  font-size: 16px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  letter-spacing: 1px; }

.button-info {
  background: #00407b;
  color: #fff; }

@media only screen and (min-width: 768px) {
  .fale-conosco {
    padding: 14rem 0; }
    .fale-conosco .fale-conosco__inner .fale-conosco__form .fale-conosco__form-send {
      padding: 5rem 0  13rem 0; } }

@media only screen and (min-width: 1200px) {
  .fale-conosco {
    padding: 18rem 0; }
    .fale-conosco .fale-conosco__inner .fale-conosco__form .fale-conosco_form-inputs {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .fale-conosco .fale-conosco__inner .fale-conosco__form .fale-conosco_form-inputs .fale-conosco__form-input {
        max-width: 350px; } }

.newsletter {
  padding: 2rem;
  margin: 10px;
  background: #e6e6e6;
  position: absolute;
  top: -60px;
  -webkit-border-radius: 50px 0;
          border-radius: 50px 0;
  max-width: 800px;
  margin: 10px;
  left: 0;
  right: 0; }
  .newsletter .newsletter__title {
    text-align: center;
    margin-bottom: 1rem; }
    .newsletter .newsletter__title h3 {
      font-size: 32px;
      color: #4a734c;
      text-transform: uppercase;
      margin-bottom: .5rem; }
      .newsletter .newsletter__title h3 .title-1 {
        font-family: Gotham, Helvetica, "Open Sans", sans-serif;
        font-weight: bold;
        display: block; }
      .newsletter .newsletter__title h3 .title-2 {
        display: block;
        font-family: "Open Sans", Helvetica, Gotham, sans-serif; }
    .newsletter .newsletter__title p {
      color: #9b9b9b;
      font-family: Gotham, Helvetica, "Open Sans", sans-serif;
      max-width: 500px;
      margin: 0 auto; }
  .newsletter .newsletter__input-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px 5px 5px 13px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: #fff;
    max-width: 500px;
    margin: 0 auto; }
    .newsletter .newsletter__input-wrap .newsletter__input-wrap-input::-webkit-input-placeholder {
      font-weight: bold;
      color: ""; }
    .newsletter .newsletter__input-wrap .newsletter__input-wrap-input::-moz-placeholder {
      font-weight: bold;
      color: ""; }
    .newsletter .newsletter__input-wrap .newsletter__input-wrap-input:-ms-input-placeholder {
      font-weight: bold;
      color: ""; }
    .newsletter .newsletter__input-wrap .newsletter__input-wrap-input::-ms-input-placeholder {
      font-weight: bold;
      color: ""; }
    .newsletter .newsletter__input-wrap .newsletter__input-wrap-input::placeholder {
      font-weight: bold;
      color: ""; }
    .newsletter .newsletter__input-wrap .newsletter__input-wrap-input:focus {
      outline: none;
      border: none; }
    .newsletter .newsletter__input-wrap .newsletter__input-wrap-input {
      font-weight: bold;
      color: "";
      width: 100%;
      padding: 10px 4px;
      border: none; }
    .newsletter .newsletter__input-wrap .newsletter__input-wrap-button {
      color: #fff;
      background-color: #00407b;
      -webkit-border-radius: 13px;
              border-radius: 13px;
      border: none;
      font-family: Gotham, Helvetica, "Open Sans", sans-serif;
      max-height: 40px;
      height: 40px;
      min-width: 90px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      cursor: pointer; }
      .newsletter .newsletter__input-wrap .newsletter__input-wrap-button img {
        width: 30px; }

@media only screen and (min-width: 768px) {
  .newsletter {
    padding: 3rem;
    margin: 0 auto; } }

/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon {
  display: inline-block; }

.icon-aspas {
  background-image: url(../img/sprite.png);
  background-position: 0px -49px;
  width: 132px;
  height: 132px; }

.icon-avatar {
  background-image: url(../img/sprite.png);
  background-position: -132px -141px;
  width: 30px;
  height: 36px; }

.icon-brazil {
  background-image: url(../img/sprite.png);
  background-position: -285px -49px;
  width: 36px;
  height: 34px; }

.icon-conectado {
  background-image: url(../img/sprite.png);
  background-position: 0px -181px;
  width: 89px;
  height: 83px; }

.icon-double-arrow {
  background-image: url(../img/sprite.png);
  background-position: -351px -49px;
  width: 13px;
  height: 10px; }

.icon-email {
  background-image: url(../img/sprite.png);
  background-position: -321px -49px;
  width: 30px;
  height: 23px; }

.icon-estrela {
  background-image: url(../img/sprite.png);
  background-position: -89px -181px;
  width: 82px;
  height: 79px; }

.icon-nuvem {
  background-image: url(../img/sprite.png);
  background-position: -132px -49px;
  width: 112px;
  height: 67px; }

.icon-pointer {
  background-image: url(../img/sprite.png);
  background-position: -244px -49px;
  width: 41px;
  height: 63px; }

.icon-smartphone {
  background-image: url(../img/sprite.png);
  background-position: -162px -141px;
  width: 24px;
  height: 36px; }

.icon-logotipo-footer {
  background-image: url(../img/sprite.png);
  background-position: -132px -116px;
  width: 194px;
  height: 25px; }

.icon-logotipo {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 381px;
  height: 49px; }

/*# sourceMappingURL=main.css.map */
